[role="tablist"] {
  display: flex;
  gap: 0.2rem;
}

[role="tablist"] > [role="tab"] {
  border: 2px solid transparent;
  cursor: pointer;
  padding: 0.5rem;
}

[role="tablist"] > [role="tab"][aria-selected="true"] {
  border-bottom: 2px solid #cd0059;
}

[role="tablist"] > [role="tab"][aria-selected="true"] {
  color: #cd0059;
}